.specification-thumb{
    display: flex;
    justify-content: flex-start;/*主轴*/
    align-items: center;/*交叉轴*/
    flex-direction: row;
    margin: 2px;/*外边距*/
    height: auto;
    border:2px solid gray;/*边框*/
    border-radius:5px;/*圆角*/
    font-size: 14px;
    padding: 4px;
}

.select{
    border:2px solid red;/*边框*/
}



