.bm-down-mobile-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 3px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    min-width: 150px;
    z-index:2;
    border: 1px solid #e8e8e8;
}

.lastBtn{
    margin-bottom: 10px;
}

.bm-down-mobile-image{
    height: 20px;
    width: 20px;
    margin: 10px;
    object-fit: contain;
}

.bm-down-mobile-title{
    display: flex;
    color: #747474;
    font-size: 14px;
}
