.bmht-item-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:12px;
    padding: 6px;
    margin: 20px 2px 10px 2px;
}

.bmht-item-img{
    width: 30px;
    height: 30px;
}

.bmht-item-title{
    font-size: 14px;
    color: #191919;
}

.bmht-item-des{
    font-size: 10px;
    color: #545454;
}
