.fc-comment{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.fc-comment-avatar{
    display: flex;
    height: 30px;
    width: 30px;
    padding: 5px;
}
.fc-comment-contariner {
    display: flex;
    flex:1;
    flex-direction: column;
}
.fc-comment-name-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}
.fc-comment-name{
    display: flex;
    margin-top: 3px;
}
.fc-comment-time{
    display: flex;
    margin-right: 10px;
}
.fc-comment-content {
    display: flex;
    font-size: 14px;
    margin-right: 10px;
}