.bmwhb-root{
    background-color: #61441a;
    color: #ac8026;
    height: 23px;
    line-height:23px;
    font-size: 14px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    border-radius: 9px;
    margin-top: 34px;
}